@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  font-family: "Lato";
}

body{
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.app {
  position: relative;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  margin: 0px;
  padding: 0px;
}

.box{
  position: relative;
  height: 400px;
  width: 600px;
  border: none;
  background: none;
}

.line-1{
  position: absolute;
  background: #6AC0D6;
  height: 50%;
  bottom: 25%;
  width: 5%;
  left: 45%;
  z-index: 1;
}

.line-2{
  position: absolute;
  background: #89E5F6;
  height: 50%;
  bottom: 25%;
  width: 5%;
  left: 50%;
  z-index: 1;
}

.triangle{
  position: absolute;
  height: 40%;
  width: 200%;
  top: -20%;
  left: -100%;
  background: #08517A;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}

.triangle-sm{
  position: absolute;
  height: 30%;
  width: 100%;
  top: -15%;
  left: -0%;
  background: #6AC0D6;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}

.shine{
  position: absolute;
  height: 20%;
  width: 100%;
  top: 90%;
  background: #B2E4F6;
  animation: shine 0.8s infinite;
  z-index: 3;
}


.line-3{
  position: absolute;
  background: #89E5F6;
  height: 30%;
  bottom: 25%;
  width: 5%;
  left: 40%;
  z-index: 1;
}

.line-4{
  position: absolute;
  background: #08517A;
  height: 35%;
  bottom: 25%;
  width: 5%;
  left: 55%;
  z-index: 1;
}

@keyframes shine{
  0%{
    top: 100%;
  }
  100%{
    top: -10%;
  }
}

.contact-list {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.top-bar {
  position: relative;
  background: #F9F9F9;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.heading {
  text-align: center;
  color: #494A4F;
  font-size: 20px;
  padding-bottom: 10px;
}

.subheading-bar {
  position: relative;
  background: #F4F4F4;
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.subheading {
  background: #F4F4F4;
  text-align: left;
  color: #494A4F;
  font-size: 10px;
  padding-left: 30px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 20vh;
  width: 100vw;
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  border-bottom: 1px solid #666666;
}

.contact:hover {
  cursor: pointer;
  background: #D3F0FF;
}

.contact-avatar {
  position: relative;
  height: 70px;
  width: 70px;
  margin-right: 40px;
  background-image: url("../assets/User Small/User Icon Small.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-name {
  position: relative;
  font-size: 18px;
  color: #494A4F;
  margin-bottom: 0px;
}

.contact-company {
  position: relative;
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1.3px;
  color: #494A4F;
  opacity: 0.7;
  font-weight: 300;
}

.contact-row {
  position: relative;
  display: block;
}

.contact-detail {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.detail-bar {
  position: relative;
  background: #F9F9F9;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.back-to-contact-list {
  text-align: left;
  color: #4E9CD2;
  font-size: 20px;
  padding-bottom: 10px;
}

.icon {
  padding-left: 5px;
  margin-right: 5px;
}

.click {
  cursor: pointer;
}

.star {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.main-contact-details {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #666666;
}

.detail-avatar {
  position: relative;
  margin-bottom: 10px;
}

.detail-name {
  position: relative;
  text-align: center;
  color: #494A4F;
  font-size: 30px;
  margin-bottom: 10px;
}

.detail-company-name {
  position: relative;
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
  letter-spacing: 1.3px;
  color: #494A4F;
  opacity: 0.7;
  font-weight: 300;
}

.phone-outer-row, .outer-row {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  border-bottom: 1px solid #666666;
}

.phone-inner-row {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5vw;
  justify-content: space-between;
}

.outter-row {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 5vw;
  justify-content: flex-start;
}

.row-description {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #494A4F;
  opacity: 0.7;
}

.row-value {
  position: relative;
  letter-spacing: 1px;
  color: #494A4F;
  font-weight: 700;
}

.phone-value {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #494A4F;
  opacity: 0.7;
  font-size: 12px;
}
